.counter {
  width: 40vw;

  .gridcounter {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    .cont {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 3rem;
      }
    }
    button {
      padding: 50px 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 4rem;
      }
    }
  }
}

.container_counter {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
